
body {
    background-color: #EAF6F6;
    color: grey;
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;    
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    background-color: #EAF6F6;
    border-width: 5px;
    width: 5%;
}

a {
    color: blue;
    text-decoration: none; /* no underline */
  }

.title {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700;
}

#profile-img {
    width: 12em;
    border-radius: 20px 60px 20px;
}